h1, h2, h3, h4, p, table {
    font-family: Palatino
}

pre {
    font-family: Lucida Sans Typewriter;
    font-size: 0.8em;
    text-align: justify;
    margin: 3.2em;
}

h1 {
    font-size: 4em;
    margin-left: 0.8%;
    margin-right: 0.8%;
}

/* chapter title */
h2 {
    font-style: italic;
    padding-top: 20%;
}

body {
    background-color: #fffae5;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    text-indent: 2em
}

img {
    border-style: outset;
    border-width: 0.3em;
    max-width: 80%;
}

table {
    margin-left: 5%;
    margin-right: 5%;
}

td p {
    text-indent: 0em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.mynote {
    background-color: #e6e6e6
}

a {
    color: black
}

a:hover {
    color: blue
}

.figleft {
    margin-right: 1.2em
}